.cuadroip{

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

input {
  background-color: #B3dff7;
  color: #000000;
  padding: 8px;
  margin:10px 0px;
  border: 0px solid #75d0c3;
  box-shadow: 4px 4px 15px 8px rgba(0,0,0,0.06);
  border-radius:10px;
}

select {
  
  background-color: #B3dff7;
  padding: 8px;
  margin:10px 0px;
  border: 0px solid #75d0c3;
  box-shadow: 4px 4px 15px 8px rgba(0,0,0,0.06);
  border-radius:10px;
}


.bg-azul{
	background-color: #242b3f;
}

.textobuscar{
  background-color: #E3ecf3;
  padding: 8px;
  border: 0px solid #75d0c3;
  border-radius:10px;
  padding-right: 0px;
}



.navegacion {
  box-shadow: 4px 4px 10px 8px rgba(0,0,0,0.06);	
}

.enviar{
  border-radius:10px;
  background-color: #B3dff7;
  padding: 8px;
  border: 0px solid #75d0c3;
  box-shadow: 4px 4px 15px 8px rgba(0,0,0,0.06);
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color 0.8s ease-out;
}

.enviar:hover{
  color:#ffffff;
  background-color: #242b3f;
}

.enter{
  border-radius:10px;
  background-color: #B3dff7;
  padding: 8px;
  border: 0px solid #75d0c3;
  box-shadow: 4px 4px 15px 8px rgba(0,0,0,0.06);
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color 0.4s ease-out;
}

.enter:hover{
  color:#000000;
  background-color: #2bed5f;
}
